{% extends 'index.html' %}

{% block content %}

<h3 class="mt-4 mb-4">What are you want to do?</h3>
    <button type="button" class="btn btn-primary" onclick="location.href='dump'", style="position:absolute; right: 350px;">
        Dump
    </button>
    <button type="button" class="btn btn-primary" onclick="location.href='/load_dump'", style="position:absolute; right: 200px;">
        Load dump
    </button>
<ul>
    <li>
        <p><a href="/edit_game">Edit games</a></p>
    </li>
    <li>
        <p><a href="/edit_company">Edit companies</a></p>
    </li>
    <li>
        <p><a href="/edit_genre">Edit genre</a></p>
    </li>
    <li>
        <p><a href="/edit_user">Edit user</a></p>
    </li>
</ul>

{% endblock %}