{% extends 'index.html' %}
{% block content %}
  <form method="POST" action="/submit_game", enctype="multipart/form-data">
    <label for="exampleInputTitle">Game title</label>
    <input type="text" name ="inputTitle" class="form-control mb-3" id="exampleInputTitle" placeholder="Enter title" value="{{game.title}}">

    <label for="exampleInputDescription">Description</label>
    <input type="text" name ="inputDescription" class="form-control  mb-3" id="exampleInputDescription" placeholder="Enter description" value="{{game.description}}">

    <label for="exampleInputDate">Date</label>
    <input type="date" name ="inputDate" class="form-control mb-3" id="exampleInputDate" placeholder="Enter date" value="{{game.date}}">

    <label for="exampleSelectGenre">Select genre</label>
    <select class="form-control mb-3" name="selectGenre" aria-label="Select genre">
      {% if current_genre %}
        <option selected>{{current_genre.title}}</option>
      {% else %}
        <option selected>Select Genre</option>
      {% endif %}
      {% for genre in genries%}
        {% if genre.title != current_genre.title %}
          <option value="1">{{genre.title}}</option>
        {% endif %}
      {% endfor %}
    </select>

    <label for="exampleInputTitle">Select developer</label>
    <select class="form-control mb-3" name="selectDeveloper" aria-label="Select developer">
      {% if current_developer %}
        <option selected>{{current_developer.name}}</option>
      {% else %}
        <option selected>Select developer</option>
      {% endif %}
      {% for company in companies%}
        {% if company.name != current_developer.name %}
          <option value="1">{{company.name}}</option>
        {% endif %}
      {% endfor %}
    </select>

    <label for="exampleInputTitle">Select publisher</label>
    <select class="form-control mb-3" name="selectPublisher" aria-label="Select publisher">
      {% if current_publisher %}
        <option selected>{{current_publisher.name}}</option>
      {% else %}
        <option selected>Select publisher</option>
      {% endif %}
      {% for company in companies%}
        {% if company.name != current_publisher.name %}
          <option value="1">{{company.name}}</option>
        {% endif %}
      {% endfor %}
    </select>

    <label for="exampleInputTitle">Select sponsor</label>
    <select class="form-control mb-3" name="selectSponsor" aria-label="Select sponsor">
      {% if current_sponsor %}
        <option selected>{{current_sponsor.name}}</option>
      {% else %}
        <option selected>Select sponsor</option>
      {% endif %}
      {% for company in companies%}
        {% if company.name != current_sponsor.name %}
          <option value="1">{{company.name}}</option>
        {% endif %}
      {% endfor %}
    </select>
    
    <label for="exampleInputImage">Image</label>
    <br>
    <img class="mt-3" src="data:;base64,{{ current_image }}"/>
    <input type="file" name="fileImage" class="form-control-file mt-3" id="exampleInputImage">
  
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
  
{% endblock %}