{% extends 'index.html' %}
{% block content %}
  <h1 class="mt-4 mb-4">Update {{game.title}} game</h1>
  <button type="button" class="btn btn-primary" style="position:absolute; right: 325px;"
        onclick="window.location.href='/edit_game'">Back</button>
        
  <form method="POST" action="/submit_game", enctype="multipart/form-data">
    <label for="exampleGameId">Game id</label>
    <input type="text" name ="GameId" class="form-control mb-3 w-50" id="exampleGameId" value="{{game.id}}" readonly>

    <label for="exampleInputTitle">Game title</label>
    <input type="text" name ="inputTitle" class="form-control mb-3 w-50" id="exampleInputTitle" placeholder="Enter title" value="{{game.title}}">

    <label for="exampleInputDescription">Description</label>
    <textarea name ="inputDescription" class="form-control mb-3 w-50" id="exampleFormControlTextarea1" rows="3" placeholder="Enter description">{{game.description}}</textarea>

    <label for="exampleInputDate">Date</label>
    <input type="date" name ="inputDate" class="form-control mb-3 w-50" id="exampleInputDate" placeholder="Enter date" value="{{game.date}}">

    <label for="exampleSelectGenre">Select genre</label>
    <select class="form-control mb-3 w-50" name="selectGenre" aria-label="Select genre">
      {% if current_genre %}
        <option selected>{{current_genre.title}}</option>
      {% else %}
        <option selected>Select Genre</option>
      {% endif %}
      {% for genre in genries%}
        {% if genre.title != current_genre.title %}
          <option value="{{genre.title}}">{{genre.title}}</option>
        {% endif %}
      {% endfor %}
      <option value="">---------</option>
    </select>

    <label for="exampleInputTitle">Select developer</label>
    <select class="form-control mb-3 w-50" name="selectDeveloper" aria-label="Select developer">
      {% if current_developer %}
        <option selected>{{current_developer.name}}</option>
      {% else %}
        <option selected>Select developer</option>
      {% endif %}
      {% for company in companies%}
        {% if company.name != current_developer.name %}
          <option value="{{company.name}}">{{company.name}}</option>
        {% endif %}
      {% endfor %}
      <option value="">---------</option>
    </select>

    <label for="exampleInputTitle">Select publisher</label>
    <select class="form-control mb-3 w-50" name="selectPublisher" aria-label="Select publisher">
      {% if current_publisher %}
        <option selected>{{current_publisher.name}}</option>
      {% else %}
        <option selected>Select publisher</option>
      {% endif %}
      {% for company in companies%}
        {% if company.name != current_publisher.name %}
          <option value="{{company.name}}">{{company.name}}</option>
        {% endif %}
      {% endfor %}
      <option value="">---------</option>
    </select>

    <label for="exampleInputTitle">Select sponsor</label>
    <select class="form-control mb-3 w-50" name="selectSponsor" aria-label="Select sponsor">
      {% if current_sponsor %}
        <option selected>{{current_sponsor.name}}</option>
      {% else %}
        <option selected>Select sponsor</option>
      {% endif %}
      {% for company in companies%}
        {% if company.name != current_sponsor.name %}
          <option value="{{company.name}}">{{company.name}}</option>
        {% endif %}
      {% endfor %}
      <option value="">---------</option>
    </select>
    
    <label for="exampleInputImage">Image</label>
    <br>
    <img class="mt-3" src="data:;base64,{{ current_image }}"/>
    <input type="file" name="fileImage" class="form-control-file mt-3" id="exampleInputImage">
  
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
  
{% endblock %}